/node_modules/
/lib/
/test/
custom-elements.json
# top level source
board-state.js
hexchess-board.js
hexchess-styles.js
piece.js
utils.js
*.js.map
*.d.ts
*.d.ts.map
# only generated for size check
hexchess-board.bundled.js
